*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { 
	font-size: 10px; 
	
}
h1{
	font: 2rem "Helvetica";
	font-weight: bolder;
}

h3{
	margin-top: 2rem;
	font-family: Time New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
}
.main{
	width: 100%;
	text-align: center;
}
.header,.footer{
	background-color: #FE1A19;
	color: #FFFFFF;
	font: 2rem "Helvetica";
	font-weight: bold;
	text-align: left;
	height: 6rem;
	line-height: 6rem;
	padding: 2rem;
	 
}
.outter{
	width: 400px;
	border: 0.5rem solid #E5E000;
	border-radius: 3rem;
	box-sizing: border-box;
	display: inline-block;
	font-weight: normal;
	font-family: "Time New Roman";
	font-size: 2rem;
	margin: 5rem 2rem;
	text-align: left;
	padding: 3.3rem;
}
.outter-text{
	list-style-type: none;
	text-align: left;
}




